<div class="h-full w-full px-5" id="contact-us">
  <h2 class="p-5 text-center text-2xl font-semibold">Contact us</h2>
  <!-- Image at top content -->
  <div class="relative mx-auto mb-5 h-[20%] w-full">
    <img
      src="assets/images/backgrounds/contact-us.jpg"
      alt="contact-us"
      class="h-full w-full rounded-sm object-cover opacity-70 shadow-md"
    />
    <div class="absolute bottom-0 right-0 bg-opacity-70 p-2 text-white">
      <span class="text-xs italic opacity-70"
        >By
        <a
          href="https://www.freepik.es/vector-gratis/fondo-moderno-azul-clasico-abstracto_6764476.htm#query=svg%20backgrounds&position=19&from_view=keyword&track=ais"
          >Freepik</a
        ></span
      >
    </div>
  </div>

  <div class="rounded-md bg-slate-700 p-10 text-white shadow-md">
    <!-- Contact form -->
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
        <div
          class="group relative z-0 mb-6 w-full"
          *ngFor="let contactInput of contactInputs"
        >
          <input
            [type]="contactInput.type"
            [name]="contactInput.name"
            class="peer block w-full appearance-none border-0 border-b-2 border-gray-600 bg-transparent px-0 py-2.5 text-sm focus:border-blue-600 focus:outline-none focus:ring-0"
            [placeholder]="contactInput.placeholder"
            [id]="contactInput.id"
            [formControlName]="contactInput.formControl"
          />
          <label
            for="floating_name"
            [htmlFor]="contactInput.name"
            class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-blue-600"
            >{{ contactInput.label }}</label
          >
          <!-- Form errors -->
          <div
            *ngIf="
              contactForm.get(contactInput.formControl)?.invalid &&
              (contactForm.get(contactInput.formControl)?.dirty ||
                contactForm.get(contactInput.formControl)?.touched)
            "
            class="text-xs text-red-500 opacity-70"
          >
            * {{ contactInput.id | titlecase }} must have a value
          </div>
        </div>

        <div class="relative">
          <label for="options" class="text-xs opacity-50"
            >Select an option</label
          >
          <select
            id="options"
            formControlName="options"
            class="peer block w-full appearance-none rounded-lg border-0 border-b-2 border-gray-600 bg-slate-700 bg-transparent p-2.5 px-0 py-2.5 text-sm text-white text-opacity-30 focus:border-blue-600 focus:outline-none focus:ring-0 focus:ring-blue-500"
          >
            <option value="general-inquiry" class="text-black">
              General Inquiry
            </option>
            <option value="technical-support" class="text-black">
              Technical Support
            </option>
            <option value="comments-suggestions" class="text-black">
              Comments and Suggestions
            </option>
            <option value="quotation-request" class="text-black">
              Quotation Request
            </option>
            <option value="job-application" class="text-black">
              Job Application
            </option>
            <option value="other" class="text-black">Other</option>
          </select>
        </div>

        <div class="relative">
          <label for="availability" class="text-xs opacity-50"
            >Select availability</label
          >
          <select
            id="availability"
            formControlName="availability"
            class="peer block w-full appearance-none rounded-lg border-0 border-b-2 border-gray-600 bg-slate-700 bg-transparent p-2.5 px-0 py-2.5 text-sm text-white text-opacity-30 focus:border-blue-500 focus:outline-none focus:ring-0 focus:ring-blue-500"
          >
            <option value="monday-friday" class="text-black">
              Monday to Friday
            </option>
            <option value="weekends" class="text-black">Weekends</option>
            <option value="anytime" class="text-black">Anytime</option>
          </select>
        </div>

        <div class="relative">
          <label for="availability" class="text-xs opacity-50"
            >Select a priority</label
          >
          <select
            id="priority"
            formControlName="priority"
            class="peer block w-full appearance-none rounded-lg border-0 border-b-2 border-gray-600 bg-slate-700 bg-transparent p-2.5 px-0 py-2.5 text-sm text-white text-opacity-30 focus:border-blue-500 focus:outline-none focus:ring-0 focus:ring-blue-500"
          >
            <option value="high" class="text-black">High</option>
            <option value="medium" class="text-black">Medium</option>
            <option value="low" class="text-black">Low</option>
          </select>
        </div>
      </div>
      <div class="w-full pt-10 text-center">
        <button
          type="submit"
          value="Submit"
          class="w-32 rounded-md bg-slate-800 p-3 text-sm opacity-70 shadow-md transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-105 hover:opacity-50"
          [disabled]="!contactForm.valid"
          (mouseenter)="onTest()"
        >
          Send
        </button>
      </div>
    </form>
  </div>
  <!-- Image at the end of the content -->
  <div
    class="relative mx-auto mt-5 flex h-[20%] w-full flex-col items-center justify-center"
  >
    <img
      src="assets/images/backgrounds/contact-us.jpg"
      alt="contact-us"
      class="h-full w-full rounded-sm object-cover opacity-70 shadow-md"
    />
    <div class="absolute bg-opacity-70 p-2 text-center text-white">
      <h3 class="mb-1 text-lg opacity-80">
        Contact us through alternative channels
      </h3>
      <span class="text-xs italic opacity-70">
        <p>Email: info.code@bluecode.com</p>
        <p>Website: www.bluecodetech.com</p>
      </span>
    </div>
  </div>
  <br />
</div>
