<div
  class="m-0 h-full w-full px-5 py-5"
  id="home-content"
  *ngIf="!loaderService.isLoading"
  [ngClass]="{
    animate__animated: !loaderService.isLoading,
    animate__fadeIn: !loaderService.isLoading
  }"
>
  <div
    class="opacity-35 mb-3 flex h-[5%] w-full items-center justify-end text-sm font-bold italic"
  >
    <h1 class="pr-4">Blue Code - Moving ideas</h1>
  </div>
  <div
    class="mx-auto h-[91%] w-full overflow-auto rounded-lg bg-slate-800 text-sm shadow-lg sm:text-base"
    id="console-home"
  >
    <pre class="w-full pt-3 font-mono text-white">
  <span class="text-green-500">user@linux:</span><span class="text-blue-500">~$</span> <span class="cursor-blink">_</span> cat sum.py
  <span class="text-yellow-500">File content sum.py:</span>
  <code class="flex-1 text-gray-300 px-4">
  def sum(a, b):
      return a + b
  
  if __name__ == "__main__":
      result = sum(5, 3)
      print("Created by Sebastián Padilla & Edwin Becerra")
      print("The sum of %s and %s is: %s" % (num1, num2, result))
  </code>
  <span class="text-green-500">user@linux:</span><span class="text-blue-500">~$</span> <span class="cursor-blink">_</span> python3 sum.py
  <span class="text-yellow-500">Created by Sebastián Padilla & Edwin Becerra</span>
  <span class="text-yellow-500">The sum of 5 and 3 is: 8</span>
  <span class="text-green-500">user@linux:</span><span class="text-blue-500">~$</span> <span class="cursor-blink">_</span> exit
  <span class="text-green-500">user@linux:</span><span class="text-blue-500">~$</span> <span appCursorBlink class="cursor-blink-end flex items-center justify-center w-4 h-4"></span>
  </pre>
  </div>
</div>
