<div
  class="h-full w-full px-5"
  *ngIf="!loaderService.isLoading"
  [ngClass]="{
    animate__animated: !loaderService.isLoading,
    animate__fadeIn: !loaderService.isLoading
  }"
>
  <h2 class="p-5 text-center text-2xl font-semibold">Our services</h2>
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-3">
    <div
      *ngFor="let service of serviceList"
      class="rounded-md bg-slate-700 p-5 shadow-md"
    >
      <h3 class="w-full text-center text-lg font-semibold">
        {{ service.title }}
      </h3>
      <div class="block">
        <img [src]="service.imgService" alt="" srcset="" />
      </div>
      <div class="block text-center">
        <p>
          {{ service.description }}
        </p>
        <p class="pt-5 text-right text-sm italic opacity-40">
          <a href="https://storyset.com/people"
            >People illustrations by Storyset</a
          >
        </p>
      </div>
    </div>
  </div>
  <br />
</div>
