<div
  class="h-full w-full px-5"
  id="contact-us"
  *ngIf="!loaderService.isLoading"
  [ngClass]="{
    animate__animated: !loaderService.isLoading,
    animate__fadeIn: !loaderService.isLoading
  }"
>
  <section class="h-screen rounded-md bg-slate-700 p-5 shadow-md">
    <div class="mb-3 border-b pb-5 pt-3 text-xl font-semibold">
      <h1>User Profile</h1>
    </div>
    <div class="w-full flex-1 md:flex" *ngIf="authService.userData as user">
      <div
        class="flex items-center justify-center rounded-full sm:my-5 md:mx-5"
      >
        <img
          class="w-60 rounded-full border-none object-cover p-2 opacity-70 shadow-lg"
          src="{{
            user.photoURL
              ? user.photoURL
              : 'assets/images/backgrounds/profile.webp'
          }}"
          alt="{{ user.displayName }}"
        />
      </div>
      <div class="w-full rounded-md p-5 shadow-md">
        <h1 class="text-xl font-bold">
          Hello:
          <span class="font-semibold">{{
            user.displayName ? user.displayName : "User"
          }}</span>
        </h1>
        <p>
          User ID: <span class="font-semibold">{{ user.uid }}</span>
        </p>
        <p>
          Email: <span class="font-semibold">{{ user.email }}</span>
        </p>
        <p>
          Role: <span class="font-semibold">{{ user.role }}</span>
        </p>
      </div>
    </div>
    <div
      class="mt-5 flex w-full items-center justify-center space-x-5 rounded-md shadow-md before:h-16"
    >
      <p>Button 1</p>
      <p>Button 2</p>
      <p>Button 3</p>
      <p>Button 4</p>
      <p>Button 5</p>
    </div>
  </section>
  <!-- Dashboard content -->
  <section></section>
</div>
