<!-- Horizontal Navbar -->
<div
  class="justify-left relative z-10 flex h-[13%] w-full flex-1 items-center border border-slate-800 bg-gradient-to-l from-slate-800 to-slate-700 shadow-md"
>
  <button
    class="toggle-button absolute right-0 top-1/2 mx-5 ml-4 max-h-fit min-h-fit w-10 -translate-y-1/2 transform rounded-lg bg-slate-700 p-2 text-base text-white opacity-100 shadow-md"
    type="button"
    *ngIf="isMobileScreen"
    (click)="toggleContainer()"
  >
    ☰
  </button>

  <!-- Logo -->
  <div
    class="mx-3 flex max-h-full min-h-fit items-center rounded-lg bg-gradient-to-r from-slate-700 to-slate-800 shadow-md"
  >
    <a href="" class="block h-16 max-h-fit min-h-fit items-center px-2">
      <img
        src="assets/images/logos/blue_code_figure_white.png"
        alt="blue-code-logo"
        class="h-full max-h-fit min-h-fit w-auto object-contain"
      />
    </a>

    <h1 class="pr-3 text-sm text-white sm:text-xl sm:font-semibold">
      Blue Code
    </h1>
  </div>

  <!-- User menu button -->
  <div
    class="absolute right-16 top-1/2 mx-2 -translate-y-1/2 transform rounded-lg bg-slate-700 p-2 text-base text-white opacity-100 shadow-md sm:right-2"
    (mouseenter)="onMouseEnter()"
    id="user-menu"
  >
    <button class="flex items-center" (click)="toggleDropdown()">
      <img
        src="assets/images/logos/avatar.svg"
        alt="avatar"
        class="h-6 w-6 object-cover opacity-30"
      />
    </button>

    <div
      *ngIf="isDropdownVisible"
      class="absolute right-0 z-50 mt-4 w-48 rounded-lg border border-slate-700 bg-slate-700 text-sm text-white shadow-lg"
      (mouseleave)="onMouseLeave()"
    >
      <a
        *ngIf="!authService.isLoggedIn"
        [routerLink]="'sign-in'"
        class="block px-4 py-2 opacity-50 hover:bg-slate-400 hover:text-slate-800"
        >Sign In</a
      >
      <a
        *ngIf="!authService.isLoggedIn"
        [routerLink]="'sign-up'"
        class="block px-4 py-2 opacity-50 hover:bg-slate-400 hover:text-slate-800"
        >Sign Up</a
      >
      <a
        *ngIf="authService.isLoggedIn"
        [routerLink]="'dashboard'"
        class="block px-4 py-2 opacity-50 hover:bg-slate-400 hover:text-slate-800"
        >Dashboard</a
      >
      <a
        *ngIf="authService.isLoggedIn"
        (click)="authService.signOut()"
        class="block px-4 py-2 opacity-50 hover:bg-slate-400 hover:text-slate-800"
        >Sign Out</a
      >
    </div>
  </div>
</div>

<!-- Horizontal Content Navbar-->
<div
  class="relative z-0 mt-2 max-h-[28%] w-full items-center overflow-auto rounded-lg border border-slate-800 bg-gradient-to-t from-slate-700 to-slate-600 opacity-50 shadow-md"
  id="navbarCollapse"
  [ngClass]="{
    animate__animated: isContainerVisible,
    animate__slideInDown: isContainerVisible,
    hidden: !isContainerVisible,
    relative: isContainerVisible
  }"
>
  <app-navbar-horizontal></app-navbar-horizontal>
</div>

<!-- Main container -->
<div class="flex h-[85%] gap-3 text-cyan-50">
  <!-- Vertical Navbar -->
  <div
    class="content relative top-0 mt-3 hidden w-1/4 overflow-y-auto rounded-r-lg border border-slate-800 shadow-lg sm:block"
  >
    <app-navbar-vertical></app-navbar-vertical>
  </div>
  <div
    class="mt-3 flex w-full flex-1 overflow-hidden rounded-l-lg border border-slate-800 shadow-lg"
  >
    <!-- Pages content -->
    <div class="relative h-full w-full overflow-hidden overflow-y-auto">
      <div
        class="absolute inset-0 flex items-center justify-center bg-opacity-70"
        *ngIf="loaderService.isLoading"
      >
        <div
          class="h-12 w-12 animate-spin rounded-full border-t-4 border-slate-600"
        ></div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- Footer -->
<app-footer></app-footer>
